<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.shop.mapper.CartMapper">
	<insert id="add_cart" parameterType="kr.co.shop.vo.CartVo">
		insert into cart(pCode, amount, userid, size, writeday) values(#{pCode}, #{amount}, #{userid}, #{size}, now())
	</insert>
	
	<select id="cart" resultType="kr.co.shop.vo.CartVo">
		select c.id, c.size, c.pCode, c.amount, p.pImg1, p.pName, p.pSize, p.pDelivery, p.pPrice, p.pDc, p.pDay from cart as c, product as p where c.pCode=p.pCode and c.userid=#{param} order by id desc
	</select>
	
	<select id="getDay" resultType="String">
		select adddate(now(),pDay) from product where pCode=#{param}
	</select>
	
	<update id="update_amount">
		update cart set amount=#{param1} where id=#{param2}
	</update>
	
	<select id="change_size" resultType="kr.co.shop.vo.CartVo">
		select c.id, c.size, c.pCode, c.amount, p.pImg1, p.pName, p.pSize, p.pDelivery from cart as c, product as p where c.pCode=p.pCode and c.id=#{param1} and userid=#{param2}
	</select>
	
	<update id="change_size_ok">
		update cart set size=#{param1} where id=#{param2}
	</update>
	
	<delete id="delete_cart">
		delete from cart where id=#{param}
	</delete>
</mapper>