<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">
 
<mapper namespace="kr.co.shop.mapper.CounselMapper">
	<insert id="counsel_input">
		insert into counsel(userid,content,state,writeday) values(#{userid},#{content},0,now())
	</insert>
	
	<select id="counsel_list" resultType="kr.co.shop.vo.CounselVo">
		select * from counsel where state=#{param}
	</select>
	
	<update id="counsel_update">
		update counsel set state=1, answer=#{answer} where id=#{id}
	</update>
</mapper>
 